<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta name="author" content="Belai">
    <title>Home</title>
</head>
<body>
    
    <div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    
    <section class=" center content">
      <div class="container">
      <div class=" text-main">
        <h1 class="text-primary">Gerenciamento de estoque</h1>
      </div>
      <div class="wm">
        <button class="botao btn btn-primary">Cadastrar produto</button>
      </div>

      <div class="wm">
        <button class="botam btn btn-primary">Pesquisar produto</button>
      </div>

      </div>

    </section>
    
    <div th:replace="fragmentos/fragmentos :: rodape"></div>
    
    

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>